In [49]:
l1 = []
l1.append(6)
l1.append(4)
l1.append(10)
l1.append(8)
l1.append(1)
l1

[6, 4, 10, 8, 1]

In [50]:
l1.sort()  #sort method works for only similar datatypes
l1

[1, 4, 6, 8, 10]

In [51]:
l1.sort(reverse=True) #descending order 
l1

[10, 8, 6, 4, 1]

In [52]:
l1.sort(reverse=False) #ascending order
l1

[1, 4, 6, 8, 10]

In [53]:
l1.append('nit')
l1

[1, 4, 6, 8, 10, 'nit']

In [54]:
l1[3]

8

In [55]:
print(l1[5][0])   #nested index only with the string
print(l1[5][1])
print(l1[5][2])

n
i
t

In [56]:
l1

[1, 4, 6, 8, 10, 'nit']

In [57]:
for i in l1: #indentations--4   #class,function,loop,if--4 spaces
    print(i)

1
4
6
8
10
nit

In [58]:
for i in enumerate (l1):    
    print(i)

(0, 1)
(1, 4)
(2, 6)
(3, 8)
(4, 10)
(5, 'nit')

#All/Any

In [59]:
l1

[1, 4, 6, 8, 10, 'nit']

In [60]:
all(l1)

True

In [61]:
any(l1)

True

In [62]:
l1.append(0)
l1

[1, 4, 6, 8, 10, 'nit', 0]

In [63]:
all(l1)

False

In [64]:
any(l1)

True

#TUPLE

In [65]:
t = ()
t

()

In [66]:
type(t)

tuple

In [67]:
t1 = (10,20,30,40,10) #duplicates are allowed
t1

(10, 20, 30, 40, 10)

In [68]:
#tuple indexing
t1[0]
t1[-1]

10

In [69]:
#tuple slicing
t1[2:5]

(30, 40, 10)

In [70]:
t1[:3]

(10, 20, 30)

In [71]:
t1[-2:]

(40, 10)

In [72]:
t1[:]  #return whole tuple

(10, 20, 30, 40, 10)

In [73]:
del t1[0] #tuples are immutable which means we cannot delete tuple items

TypeError: 'tuple' object doesn't support item deletion

In [74]:
t1[0] = 25 #as they are immutable we cannot change tuple items

TypeError: 'tuple' object does not support item assignment

In [75]:
#deleting entire tuple object is possible

In [76]:
t1.index(40)

3

In [77]:
t1.count(10)

2

In [78]:
t1

(10, 20, 30, 40, 10)

In [79]:
t2 = t1 * 2 #doubles the tuple---real life application(bank)
t2

(10, 20, 30, 40, 10, 10, 20, 30, 40, 10)

In [80]:
t1[0] = 100  #tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [81]:
t2 = ([1,2,3],31,8.4)
t2

([1, 2, 3], 31, 8.4)

In [82]:
t2 = ((1,2,3),31,1)
t2

((1, 2, 3), 31, 1)

In [83]:
len(t2)

3

In [84]:
#loop through a tuple
for i in t2:
    print(i)

(1, 2, 3)
31
1

In [85]:
for i in enumerate(t2):
    print(i)

(0, (1, 2, 3))
(1, 31)
(2, 1)

In [86]:
#Tuple Membership
mytuple = ()
mytuple = ('one','two','three','four','five')
mytuple

('one', 'two', 'three', 'four', 'five')

In [87]:
'one' in mytuple

True

In [88]:
if 'three' in mytuple:
    print('YES')
else:
    print('NO')

YES

In [89]:
#index position
mytuple.index('one')

0

In [90]:
#sorting
mytuple1 = (4,9,6,7,2,10,8,3,1)
sorted(mytuple1) #returns new sorted list while maintaining the original tuple

[1, 2, 3, 4, 6, 7, 8, 9, 10]

In [91]:
sorted(mytuple1,reverse=True) #sorts in descending order

[10, 9, 8, 7, 6, 4, 3, 2, 1]