In [ ]:
'''
1.Dictionary is a mutable datatype in python
2.A python dictionary is a collection of key and value pairs separated by a colon(:) and enclosed in curly braces{}.
3.Keys must be unique in a dictionary, duplicate values are allowed.
'''

In [35]:
d = {}
type(d)

dict

In [36]:
d1 = {1:'one', 2:'two', 3:'three', 4:'four'}  #dictionary with integer keys
d1

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [37]:
d1 = dict({1:'one', 2:'two', 3:'three'})  #create dictionary using dict()
d1

{1: 'one', 2: 'two', 3: 'three'}

In [38]:
d1 = {'A':'one', 'B':'two', 'C':'three'} #dictionary with character keys
d1

{'A': 'one', 'B': 'two', 'C': 'three'}

In [39]:
d1.keys()

dict_keys(['A', 'B', 'C'])

In [40]:
d1.values()

dict_values(['one', 'two', 'three'])

In [41]:
d1.items()

dict_items([('A', 'one'), ('B', 'two'), ('C', 'three')])

In [42]:
d2 = {1:'one',2:'two','A':{'name':'keerthana','age':20},'B': ('cat','dog',1,2),'C':['abc','def',34,12]}
d2

{1: 'one',
 2: 'two',
 'A': {'name': 'keerthana', 'age': 20},
 'B': ('cat', 'dog', 1, 2),
 'C': ['abc', 'def', 34, 12]}

In [43]:
keys = {'a','b','c','d'}
value = [10,20,30]
d3 = dict.fromkeys(keys,value)
d3

{'d': [10, 20, 30], 'c': [10, 20, 30], 'a': [10, 20, 30], 'b': [10, 20, 30]}

In [44]:
value.append(40)
d3

{'d': [10, 20, 30, 40],
 'c': [10, 20, 30, 40],
 'a': [10, 20, 30, 40],
 'b': [10, 20, 30, 40]}

In [45]:
#accessing
d2[1]

'one'

In [46]:
d2.get('A') #accessing using key

{'name': 'keerthana', 'age': 20}

In [47]:
#add,remove and change items
d2[2] = 'five'
d2

{1: 'one',
 2: 'five',
 'A': {'name': 'keerthana', 'age': 20},
 'B': ('cat', 'dog', 1, 2),
 'C': ['abc', 'def', 34, 12]}

In [48]:
#adding items
d2['D']='hello'
d2

{1: 'one',
 2: 'five',
 'A': {'name': 'keerthana', 'age': 20},
 'B': ('cat', 'dog', 1, 2),
 'C': ['abc', 'def', 34, 12],
 'D': 'hello'}

In [49]:
#remove items
d2.pop('D')
d2

{1: 'one',
 2: 'five',
 'A': {'name': 'keerthana', 'age': 20},
 'B': ('cat', 'dog', 1, 2),
 'C': ['abc', 'def', 34, 12]}

In [50]:
d2.popitem() # A random item is removed
d2

{1: 'one',
 2: 'five',
 'A': {'name': 'keerthana', 'age': 20},
 'B': ('cat', 'dog', 1, 2)}

In [51]:
del[d2[2]] #removing item using del keyword
d2

{1: 'one', 'A': {'name': 'keerthana', 'age': 20}, 'B': ('cat', 'dog', 1, 2)}

In [52]:
d2.clear() #delete all items of the dictionary using clear method
d2

{}

In [53]:
del d2 #delete the dictionary object(d2)
d2

NameError: name 'd2' is not defined

In [60]:
#copy dictionary
mydict = {'name':'sankeerthana','age':20,'dob':2005,'rollno':47}
mydict

{'name': 'sankeerthana', 'age': 20, 'dob': 2005, 'rollno': 47}

In [61]:
mydict1 = mydict.copy()
mydict1

{'name': 'sankeerthana', 'age': 20, 'dob': 2005, 'rollno': 47}

In [62]:
mydict['rollno'] = 77
mydict

{'name': 'sankeerthana', 'age': 20, 'dob': 2005, 'rollno': 77}

In [63]:
mydict1

{'name': 'sankeerthana', 'age': 20, 'dob': 2005, 'rollno': 47}

In [72]:
for i in mydict:  #loop through a dictionary
    print(i,':',mydict[i])

name : sankeerthana
age : 20
dob : 2005
rollno : 77

In [73]:
for i in mydict:
    print(mydict[i])

sankeerthana
20
2005
77

In [74]:
#dictionary membership
'name' in mydict

True

In [75]:
'birth' in mydict

False

In [ ]:
'''All/Any 
all() method returns TRUE--if all keys of dictionary are true
                     FALSE--if any key of dictionary is false
any() method returns TRUE--if any key of dictionary is true.
                     FALSE--else returns false.
'''

In [76]:
all(mydict)

True

In [77]:
any(mydict)

True