In [1]:
print(3 + 2) 
print(3 - 2)
print(3 * 2)
print(3 / 2)
print(3 ** 2)
print(3 % 2)
print(3 // 2)

5
1
6
1.5
9
1
1

#checking datatypes

In [2]:
print(type(10))                  # Int
print(type(3.14))                # Float
print(type(1 + 3j))              # Complex
print(type('sankeerthana'))   # String
print(type([1, 2, 3]))           # List
print(type({'name':'keerthana'})) # Dictionary
print(type({9.8, 3.14, 2.7}))    # Set
print(type((9.8, 3.14, 2.7)))    # Tuple
print(type(3 == 3))              # Bool
print(type(3 >= 3))              # Bool

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'set'>
<class 'tuple'>
<class 'bool'>
<class 'bool'>

#variables in python

In [3]:
name = 'Sankeerthana'
country = 'India'
state = 'Telangana'
city = 'Hyderabad'
age = 20
education = 'undergraduate'
course = 'cse'
skills = ['java','python']

In [4]:
#printing the values stored in the variables
print('name: ',name)
print('country: ',country)
print('state: ',state)
print('city: ',city)
print('age: ',age)
print('education: ',education)
print('course: ',course)
print('skills: ',skills)

name:  Sankeerthana
country:  India
state:  Telangana
city:  Hyderabad
age:  20
education:  undergraduate
course:  cse
skills:  ['java', 'python']

In [9]:
#declaring multiple variables in one line
name,age,phone_no = 'sankeerthana',20,7842645692
print(name)
print(age)
print(phone_no)

sankeerthana
20
7842645692

#Arithmetic operators

In [10]:
print('Addition: ', 1 + 2)
print('Subtraction: ', 2 - 1)
print('Multiplication: ', 2 * 3)
print ('Division: ', 4 / 2)                         # Division in python gives floating number
print('Division: ', 6 / 2)
print('Division: ', 7 / 2)                           #gives the quotient
print('Division without the remainder: ', 7 // 2)   # gives without the floating number(roundoff value)
print('Modulus: ', 3 % 2)                           # Gives the remainder
print ('Division without the remainder: ', 7 // 3)
print('Exponential: ', 3 ** 2)                     # it means 3 * 3

Addition:  3
Subtraction:  1
Multiplication:  6
Division:  2.0
Division:  3.0
Division:  3.5
Division without the remainder:  3
Modulus:  1
Division without the remainder:  2
Exponential:  9

In [11]:
#floating numbers
print('pi: ',3.14)

pi:  3.14

In [15]:
#complex numbers
print(1+2j)
print((1+2j)+(2+3j))
print((1+2j)*(2+3j))   #Multiplication: (a + bi)(c + di) = (ac âˆ’ bd) + (bc + ad)i

(1+2j)
(3+5j)
(-4+7j)

In [16]:
a = 5
b = 3
total = a + b
diff = a - b
product = a * b
division = a / b
remainder = a % b
floor_division = a // b
exponential = a ** b
print('a + b = ', total)
print('a - b = ', diff)
print('a * b = ', product)
print('a / b = ', division)
print('a % b = ', remainder)
print('a // b = ', floor_division)
print('a ** b = ', exponential)

a + b =  8
a - b =  2
a * b =  15
a / b =  1.6666666666666667
a % b =  2
a // b =  1
a ** b =  125

In [17]:
# Calculating area of a circle
radius = 10                                 # radius of a circle
area_of_circle = 3.14 * radius ** 2         # two * sign means exponent or power
print('Area of a circle:', area_of_circle)

Area of a circle: 314.0

In [18]:
# Calculating area of a rectangle
length = 10
width = 20
area_of_rectangle = length * width
print('Area of rectangle:', area_of_rectangle)

Area of rectangle: 200

In [21]:
# Calculating a weight of an object
mass = 75
gravity = 9.81
weight = mass * gravity
print(weight,'N')

735.75 N

In [22]:
# Boolean comparison
print('True == True: ', True == True)
print('True == False: ', True == False)
print('False == False:', False == False)
print('True and True: ', True and True)
print('True or False:', True or False)

True == True:  True
True == False:  False
False == False: True
True and True:  True
True or False: True

In [23]:
#and,or,not
print(3>2 and 4>3)
print(3>2 and 4>5)
print(3>2 or 5>2)
print(6>10 or 5>3)  #if first condition fails checks next
print(not True)
print(not False)
print(not not True)
print(not not False)

True
False
True
True
False
True
True
False

#String

In [24]:
#single line comment---('text')and("text")
name = 'sankeerthana'
course = "computer science and engineering"
print(name)
print(course)

sankeerthana
computer science and engineering

In [25]:
#multi line comment---('''text''')or("""text""")
multiline_string = '''I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python.'''
print(multiline_string)
# Another way of doing the same thing
multiline_string = """I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python."""
print(multiline_string)

I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python.
I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python.

In [27]:
#string concatenation
first_name = 'donthoju '
last_name = 'sai sankeerthana'
full_name = first_name + last_name
print(full_name)

donthoju sai sankeerthana

In [28]:
#len() function
print(len(full_name))

25

In [29]:
#### Unpacking characters 
language = 'Python'
a,b,c,d,e,f = language # unpacking sequence characters into variables
print(a) # P
print(b) # y
print(c) # t 
print(d) # h
print(e) # o
print(f) # n

P
y
t
h
o
n

In [31]:
# Accessing characters in strings by index
language = 'Python'
print(language[5])
# If we want to start from right end we can use negative indexing. -1 is the last index
language = 'Python'
last_letter = language[-1]
print(last_letter) # n
second_last = language[-2]
print(second_last) # o

n
n
o

In [32]:
# Slicing
language = 'Python'
first_three = language[0:3] # starts at zero index and up to 3 but not include 3
last_three = language[3:6]
print(last_three) # hon
# Another way
last_three = language[-3:]
print(last_three)   # hon
last_three = language[3:]
print(last_three)   # hon

hon
hon
hon

In [33]:
# Skipping character while splitting Python strings
language = 'Python'
pto = language[0:6:2] # 
print(pto) # pto

Pto

In [36]:
# Escape sequence
print('I hope every one enjoying the python challenge.\nDo you ?') # line break
print('Days\tTopics\tExercises')
print('Day 1\t3\t5')
print('Day 2\t3\t5')
print('Day 3\t3\t5')
print('Day 4\t3\t5')
print('This is a back slash  symbol (\\)') # To write a back slash
print('In every programming language it starts with \"Hello, World!\"')

I hope every one enjoying the python challenge.
Do you ?
Days	Topics	Exercises
Day 1	3	5
Day 2	3	5
Day 3	3	5
Day 4	3	5
This is a back slash  symbol (\)
In every programming language it starts with "Hello, World!"

#String Methods

In [37]:
#1. capitalize(): Converts the first character of the string to Capital Letter
challenge = 'thirty days of python'
print(challenge.capitalize())

Thirty days of python

In [38]:
#2. count(): returns occurrences of substring in string, count(substring, start=.., end=..)
challenge = 'thirty days of python'
print(challenge.count('y')) # 3
print(challenge.count('y', 7, 14)) # 1
print(challenge.count('th')) # 2`

3
1
2

In [39]:
#3. endswith(): Checks if a string ends with a specified ending
challenge = 'thirty days of python'
print(challenge.endswith('on'))   # True
print(challenge.endswith('tion')) # False

True
False

In [40]:
#4. # find(): Returns the index of first occurrence of substring
challenge = 'thirty days of python'
print(challenge.find('y'))  # 5
print(challenge.find('th')) # 0

5
0

In [41]:
#5. format()-->formats string into nicer output    
name = 'sankeerthana'
course = 'FSDS'
place = 'hyd'
print('I am {}.My course is {}.I live in {}.'.format(name,course,place))

I am sankeerthana.My course is FSDS.I live in hyd.

In [42]:
#6. # index(): Returns the index of substring
challenge = 'thirty days of python'
print(challenge.find('y'))  # 5
print(challenge.find('th')) # 0

5
0

In [43]:
#7. # isalnum(): Checks alphanumeric character

challenge = 'ThirtyDaysPython'
print(challenge.isalnum()) # True

challenge = '30DaysPython'
print(challenge.isalnum()) # True

challenge = 'thirty days of python'
print(challenge.isalnum()) # False

challenge = 'thirty days of python 2019'
print(challenge.isalnum()) # False

True
True
False
False

In [44]:
#8. isalpha(): Checks if all characters are alphabets

challenge = 'thirty days of python'
print(challenge.isalpha()) # True
num = '123'
print(num.isalpha())      # False

False
False

In [46]:
#9. isdecimal(): Checks Decimal Characters(only digits=True,float values=False)
num = '10'
print(num.isdecimal()) # True
num = '10.5'
print(num.isdecimal()) # False

True
False

In [49]:
#10. isdigit(): Checks Digit Characters
challenge = 'Thirty'
print(challenge.isdigit()) # False
challenge = '30'
print(challenge.isdigit())   # True

False
True

In [50]:
#11. startswith(): Checks if String Starts with the Specified String

challenge = 'thirty days of python'
print(challenge.startswith('thirty')) # True
challenge = '30 days of python'
print(challenge.startswith('thirty')) # False

True
False

In [51]:
#12. swapcase():swaps the uppercase characters to lowercase and viceversa
challenge = 'thirty days of python'
print(challenge.swapcase())   # THIRTY DAYS OF PYTHON
challenge = 'Thirty Days Of Python'
print(challenge.swapcase())  # tHIRTY dAYS oF pYTHON

THIRTY DAYS OF PYTHON
tHIRTY dAYS oF pYTHON

In [52]:
#13. # title(): Returns a Title Cased String(every first character of string is swaped to uppercase)
challenge = 'thirty days of python'
print(challenge.title()) # Thirty Days Of Python

Thirty Days Of Python

In [53]:
#14. split():Splits String from Left

challenge = 'thirty days of python'
print(challenge.split())

['thirty', 'days', 'of', 'python']

In [54]:
#15. replace(): Replaces substring inside

challenge = 'thirty days of python'
print(challenge.replace('python', 'coding')) # 'thirty days of coding'

thirty days of coding

In [55]:
#16. # isidentifier():Checks for valid identifier means it check if a string is a valid variable name

challenge = '30DaysOfPython'
print(challenge.isidentifier()) # False, because it starts with a number
challenge = 'thirty_days_of_python'
print(challenge.isidentifier()) # True

False
True

In [56]:
#17.  islower():Checks if all alphabets in a string are lowercase

challenge = 'thirty days of python'
print(challenge.islower()) # True
challenge = 'Thirty days of python'
print(challenge.islower()) # False

True
False

In [57]:
#18. # isupper(): returns if all characters are uppercase characters

challenge = 'thirty days of python'
print(challenge.isupper()) #  False
challenge = 'THIRTY DAYS OF PYTHON'
print(challenge.isupper()) # True

False
True

In [58]:
#19. join(): Returns a concatenated string

web_tech = ['HTML', 'CSS', 'JavaScript', 'React']
result = 'hi,'.join(web_tech)
print(result)

HTMLhi,CSShi,JavaScripthi,React

In [59]:
#20. isnumeric():Checks numeric characters

num = '10'
print(num.isnumeric())      # True
v = 'ten'
print(v.isnumeric())      #false

True
False

In [60]:
#21. strip(): Removes both leading and trailing characters
txt = ",,,,,rrttgg.....banana....rrr"
x = txt.strip(",.grt")
print(x)

banana

In [61]:
#22. expandtabs(): Replaces tab character with spaces, default tab size is 8. It takes tab size argument
txt = "H\te\tl\tl\to"
print(txt.expandtabs(2)) # Output: "H e l l o"

H e l l o