In [1]:
i,f,s,b,c = 31,3.4,'nit',True,1+2j
print(i)
print(f)
print(s)
print(b)
print(c)

31
3.4
nit
True
(1+2j)

In [2]:
print(type(i))
print(type(f))
print(type(s))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

#python type casting

In [3]:
int(3.4) #float argument to integer

3

In [4]:
int(3.4,4.5) #two arguments cannot be passed while float to integer conversion

TypeError: 'float' object cannot be interpreted as an integer

In [5]:
int(True) #boolean to integer

1

In [6]:
int(1+2j) #complex to int not possible

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [7]:
int('10') #string to int ----if we pass numbers then only we will get the output
                          ---if we pass text then we wont get the output

10

In [8]:
int('ten')

ValueError: invalid literal for int() with base 10: 'ten'

In [ ]:
****all datatypes can be converted to int type except the complex and the string with text isn't possible!

In [9]:
float(20) #int to float

20.0

In [10]:
float(True) #boolean to float

1.0

In [11]:
float(False)

0.0

In [12]:
float('10')

10.0

In [13]:
float('ten')

ValueError: could not convert string to float: 'ten'

In [14]:
float(1+2j)

TypeError: float() argument must be a string or a real number, not 'complex'

In [ ]:
****from all other datatypes to float is possible except complex and string with text!

In [15]:
complex(10)

(10+0j)

In [16]:
complex(10,20)

(10+20j)

In [17]:
complex(10,20,30)

TypeError: complex() takes at most 2 arguments (3 given)

In [18]:
print(complex(3.4))
print(complex(34,3.4))
print(complex('10'))
print(complex(True,False))

(3.4+0j)
(34+3.4j)
(10+0j)
(1+0j)

In [ ]:
****from all other datatypes into complex is possible except string with text!

In [19]:
bool(1)

True

In [20]:
bool(0)

False

In [21]:
bool()

False

In [23]:
bool(0+0j) #0 means false

False

In [24]:
bool(1+2j) #non-zero means true

True

In [25]:
bool('10')

True

In [ ]:
****from all other datatypes to bool possible without any issues!